/* custom styles */

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: Raleway, sans-serif;
  box-sizing: border-box;
  color: #444;
}

body {
  background-color: #222;
}

h1, h2, h3, h4, h5 {
  color: black;
}

#page-wrapper {
  background-color: #222;
  text-align: center;
  height: 100%;
}

#middle-column {
  margin: 0px;
  padding: 1em 2em;
  display: inline-block;
  background-color: #f9f9f9;
  height: 100%;
  box-shadow: 0px 0px 10px 0px #f9f9f9;
}

a {
  text-decoration: none;
  color: #888;
  transition: color 0.7s;
}

a > i {
  color: #888;
  transition: color 0.7s;
}

a:hover {
  color: #444;
}

a:hover > i {
  color: #444;
}

section {
}

#portfolio-list {
  list-style-type: none;
  padding: 0px;
}

#portfolio-list > li {
  background-color: #f0f0f0;
  transition: background-color 0.7s;
  padding: 0.25em;
  margin: 0px auto 1em auto;
  border: 1px solid #f0f0f0;
  border-radius: 1.25em;
  max-width: 500px;
  user-select: none;
}

#portfolio-list > li:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

#portfolio-list > li:last-of-type {
  margin-bottom: 0px;
}

header, nav, section, aside, footer {
  padding: 1em;
  border-radius: 1em;
}

aside {
  float: right;
  width: 225px;
}

#contact-me ul {
  float: left;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#contact-me > ul > li {
  float: left;
  padding: 0.25em;
}

footer {
  clear: both;
  margin-top: 2em;
}

footer > div:first-of-type {
  display: inline-block;
}

#contact-me {
  display: inline-block;
}

.clear-both {
  clear: both;
}
